[2018-11-04 16:43] csmcallister opened #9 "ENH: Add geocoding support for web-scraping results that don't have geo/location data"
Some of the events APIs and/or websites do not have geo/location data for our schema. Latitude and Longitude are a common example.

## Expected Behavior
In cases where we do not have the geo/location data, we should have a utility function to return the geo/location data elements we need.

## Current Behavior
Geo/location values are `null` 😭

## Possible Solution
 - Check for `null` geo/location v

[2018-11-27 12:01] csmcallister opened #13 "ENH: Add tests and CI"
We should write some unit tests for our lambda functions and set up CI and logging. This will help let us know where/how things break once they inevitably do.

## Expected Behavior
 - [x] Each lambda function has its own test suite with decent code coverage.
 - [x] CI is set up.
 - [ ] Logging is set up.

## Current Behavior
We don't have any tests, CI or logging 😭

## Possible Solution
Use [httpr

[2019-01-11 01:38] csmcallister opened #17 "ENH: Handle Recurring/All-Day NPS Events"
Some NPS events are recurring (e.g. with multiple times/dates) and need to be uploaded as separate events. Others are all-day and need to reflect that. Otherwise only the first instance of the event will make it to the calendar.

## Expected Behavior
If an event has multiple times/dates, each should be a new row in the output csv.

## Current Behavior
Recurring events are not captured, only the st

[2019-01-11 17:25] abarciauskas-bgse opened #18 "ANS: Conform fields to WP Event Plugin Schema"

[2019-01-14 13:55] #17 closed

[2019-01-16 15:45] csmcallister opened #24 "ENH: Arlington County environment events do not include all nature events"
Arlington County's [environment events page](https://environment.arlingtonva.us/events/) doesn't include a lot of the outdoorsy events that can be found on their [park events page](https://parks.arlingtonva.us/events/). It also seems that there's another [all-events page](https://today.arlingtonva.us/) that's populated with an API that might be callable by a script.

## Expected Behavior
I'd like

[2019-01-17 00:32] #24 closed

[2019-01-24 01:04] bmvoss opened #28 "NPS schema updatesEvent"
hi

[2019-01-24 01:04] #28 closed

[2019-01-24 01:33] bmvoss opened #29 "Event CSV Templates"
In order for Event Organizer and Venue information to appear properly for an event, the info for these values must be a perfect match for an Organizer Name and a Venue Name in the corresponding CSV files.

## Expected Behavior
If the Event Organizer and Event Venue Name are typed exactly the same in all event CSV files uploaded to Wordpress, the plugin will link the info across the files and they

[2019-01-24 01:43] bmvoss opened #30 "NPS schema updates"
Some important event info was not captured, or needs modification, in the CSV file of scraped event data provided for the January 15th website launch.

## Expected Behavior

## Current Behavior
The following changes are needed:

- [x] Event Category column says things like "Regular Event." This might be useful info, but we don't want it in this column. Probably best to rename this column something

[2019-01-24 01:49] bmvoss opened #31 "ANS schema updates"
Some important event info was not captured, or needs modification, in the CSV file of scraped event data provided for the January 15th website launch.

## Expected Behavior

## Current Behavior
The following changes are needed:

- [x] Time zone not captured.
- [x] Event Organizer not captured.
- [x] Event Description not captured.
- [x] Event Cost not captured.
- [x] Event Cost Currency Symbol ($)

[2019-01-24 01:50] bmvoss opened #32 "Brookeside Gardens schema updates"
Some important event info was not captured, or needs modification, in the CSV file of scraped event data provided for the January 15th website launch.

## Expected Behavior

## Current Behavior
The following changes are needed:
- [ ] Event Description not captured.
- [ ] Event Cost not captured.
- [ ] Event Cost Currency Symbol ($) not captured.

## Possible Solution
For Event Organizer, make sure

[2019-01-24 01:52] bmvoss opened #33 "ENH: Add FONA (Friends of Natl Arboretum) schema updates"
Some important event info was not captured, or needs modification, in the CSV file of scraped event data provided for the January 15th website launch.

## Expected Behavior

## Current Behavior
The following changes are needed:

- [x] Event Description not captured.
- [x] Event Cost not captured.
- [x] Event Cost Currency Symbol ($) not captured.

## Possible Solution
For Event Organizer, make sur

[2019-01-24 19:10] csmcallister commented on #30
Two questions @bmvoss:
1. For the timezone, is the name sufficient (e.g. Eastern Standard Time)?
2. For the Event Category, the NPS API has a field called Category, which seems to always be "Regular Event" or Regular Program". I'm not sure if the word "Regular" is referring to the frequency of the event or not, so what do you think about me just dropping the Event Category column? We'd still have

[2019-01-25 19:37] csmcallister commented on #30
@bmvoss I went ahead and made the suggested changes since it was pretty easy. CSV output is [here](https://docs.google.com/spreadsheets/d/1znSHrheEjqmb6OhhZ0ADse844A0Qp9RhsApczMGWSKk/edit#gid=1832608217). If that looks good, I'll merge #34

[2019-01-25 19:46] csmcallister commented on #29
@bmvoss I tried logging in to view the organizers and venues but was met with this:

![screen shot 2019-01-25 at 2 45 19 pm](https://user-images.githubusercontent.com/33464354/51769002-db2c7400-20af-11e9-903b-716b11639e84.png)

[2019-01-29 18:48] bmvoss commented on #30
Hey @csmcallister , sorry I didn't reply sooner, these notifications were going to a different folder in my inbox that I'm just now sorting through. Here are my answers to your questions:

1. Time zones: I didn't see this before, but on the plugin info page (https://support.theeventscalendar.com/969953-CSV-file-examples-for-importing) it shows Eastern time as "America/New_York." So we could use th

[2019-01-29 18:50] bmvoss commented on #29
@csmcallister In the other thread I suggested logging in at http://capitalnature.org/wp-admin/ first, not sure if that makes a difference. Otherwise, maybe @ratherironic has a suggestion - does Scott need new credentials?

[2019-01-29 18:59] csmcallister commented on #30
No worries @bmvoss

1. I'll make that update soon.
2. Don't our column names have to match those in the [schema](https://github.com/DataKind-DC/capital-nature-ingest/blob/master/event_schema.md)? I don't see `Frequency` or `Program Type` in there.
3. I'll add the csvs to the drive. I had been adding them as separate tabs on that Org Master Sheet.
4. It does not work even if I first login at http:/

[2019-01-30 15:49] bmvoss commented on #33
@dominicwhite - I also realized that these events are actually US National Arboretum (USNA) events, not Friends of the National Arboretum (FONA) events. I'm not sure why they got associated with the FONA label, but since these sources have their own event listings, we should probably start calling these events USNA instead of FONA to avoid confusion.

USNA events (scraping): https://usna.usda.gov/

[2019-01-31 02:18] csmcallister commented on #13
@abarciauskas-bgse Is it possible for DataKind to create a free CircleCI project for this repo? I tried, but then I realized I don't have access to the repo since it's under the DataKind-DC GitHub org. This isn't super important right now, but it would be handy for checking the event schemas people contribute and catching unintended breaking changes. Once the project is set up, I can add the confi

[2019-01-31 03:09] dominicwhite commented on #33
@bmvoss It should be Friends of the National Arboretum, not USNA. I got them from the Eventbrite page run by the Friends of the National Arboretum, as that source has an actual API: https://www.eventbrite.com/o/the-friends-of-the-national-arboretum-13276552841 . Some events appear in both Eventbrite & on the FONA website, whereas some events look like they only appear in one of the two.

[2019-01-31 03:47] bmvoss commented on #33
@dominicwhite Ohhhhh, I didn't realize that. The Google spreadsheet shows FONA as manual and USNA as scraped. I'll fix that. Thanks!

[2019-01-31 17:02] dominicwhite commented on #33
@bmvoss Unfortunately the USNA web calendar also wasn't working when we first stating working on the lambda scripts at Development Seed a few weeks ago - I don't know if this is a permanent outage or a temporary (shutdown-related?) issue.

[2019-02-10 15:04] csmcallister commented on #30
@bmvoss Is this issue good to close for the NPS events? I still haven't been able to access the Organizers and Venues pages, but this data comes from an API, so I think we can be assured that the organizer and venue names are consistent.

[2019-02-10 15:07] csmcallister commented on #29
Any update @ratherironic ?

I'll soon merge all of the event scripts into one, which will generate a single csv with all of the events. That'll give a list of organizers and venues to add to the lists.

[2019-02-10 15:08] #9 closed

[2019-02-11 04:16] ratherironic commented on #29
@csmcallister Sorry for the delay. Were you able to login via http://capitalnature.org/wp-admin/ ?
I believe that is required. If you don't have a working login please reach out to me via email and I can send over some login credentials.

[2019-02-11 04:17] bmvoss commented on #30
@csmcallister Yes, this can be closed as long as the Organizers in the CSV output match the entries under 'park name' in the 'NPS sites' tab of the Google master spreadsheet.

[2019-02-11 11:55] csmcallister commented on #29
I’m able to login using the Guest account y’all created for us, but I still receive that access error when I try to view the venue and organizer pages after logging in. I’ve also tried to navigate to those pages from within my admin dashboard, but can’t see how to. Perhaps the Guest account permissions aren’t scoped right?

[2019-02-11 11:58] csmcallister commented on #30
cool beans. Given this requirement that new org and venue names need to be added to the admin site prior to a csv being uploaded, I’m gonna do some thinking on how that can be automated within the lamda process.

[2019-02-11 11:58] #30 closed

[2019-02-11 12:05] csmcallister commented on #32
closing since brookside gardens is handled in the montgomery module.

[2019-02-11 12:05] #32 closed

[2019-02-11 12:06] csmcallister commented on #18
closing as duplicate.

[2019-02-11 12:06] #18 closed

[2019-02-17 18:30] csmcallister commented on #31
closed by #48

[2019-02-17 18:30] #31 closed

[2019-02-20 01:23] csmcallister opened #53 "ENH: Concat output csvs"
## Expected Behavior
All of the output csvs are concatenated into a single one.

## Current Behavior
The lambda functions write single csvs that the Capital Nature team would need to upload separately.

## Possible Solution
Use pandas to read in each csv, concat them, write the concatenated dataframe and then delete the individual ones after.

## Context
Having a single csv to upload will help the

[2019-02-20 04:42] bmvoss opened #55 "FIX: Weird characters in text of csv file"
## Current Behavior
It looks like the csv files are showing special characters with weird symbols:
- apostrophes (') shown as â€™
- quotation marks (") shown as â€œ or â€
- hyphens (-) shown as â€“
- colons (:) shown as :Â
Not _every_ instance of these characters is replaced with these weird strings, but a lot are (a few hundred in total). There are also seemingly random Â symbols (by themselves)

[2019-02-20 06:38] bmvoss opened #56 "CLN: Unrecognized Event Organizers in csv output"
## Expected Behavior
Values shown in the `Event Organizers` column of the csv output should correspond to the name of an organization we're tracking. Most of these orgs are listed in the [Github Event Sources](https://github.com/DataKind-DC/capital-nature-ingest/blob/master/event_sources.md) table.

## Current Behavior
For a large number of events, the `Event Organizers` column in the csv output (

[2019-02-20 12:31] kirakrishnan commented on #55
@csmcallister  I am working on enh #53 before concatenating the csv if I run it thru unicodedata.normalize('NFKD',s) or `s = s.encode('ascii',errors='ignore')` will it help? for this

[2019-02-20 13:35] csmcallister commented on #55
@kirakrishnan Yeah, this is likely an encoding issue, so that might help. You could also specify an encoding when writing to csv. We probably need something like latin1. I'll DM you all of the separate csvs so you can give it a shot.

[2019-02-21 01:35] csmcallister commented on #55
Using the this `unicode_normalizer` function with the `applymap` method in pandas fixes the encoding issue:

[code]

For a long term solution, we'll want to use this where the csvs are first written. More on that to come!

[2019-02-21 02:28] csmcallister commented on #56
Ahh I didn't realize that the `Event Organizers` field should always be the event source. I was sometimes using the event venue or another field that was scraped for cases where the event organizer wasn't necessarily the event source (a somewhat common occurrence for events located in county/state/national parks).

If you'd like, I can make the event organizer field always equal to the event sourc

[2019-02-21 02:45] bmvoss commented on #56
@csmcallister -
Oh good, I'm glad this isn't too complicated! Yeah, the `Event Organizer` should just be the name of the source, the idea being that that way someone could search for, say, Casey Trees, and they should get all the events they're hosting. I've been adding new Organizers and Venues to the spreadsheet we uploaded before, so if you want to work off of those, I'll link them here (also i

[2019-02-26 03:14] csmcallister commented on #55
Ok, I added something to address this and wrote some tests to ensure it works. If we notice new things, we can note them and then I can update the tests to make sure the solution works.

[2019-03-04 04:50] bmvoss opened #68 "FIX: NPS schema updates"
There are some issues with the names of Organizers and Venues and event start and end times from National Park Service sources in the csv output.

## Expected Behavior

- [x] Events at the `Venue` **Greenbelt Park** need to distinguish between the Ranger Station or Sweetgum Picnic Area. The options are:
- Greenbelt Park, Ranger Station
- Greenbelt Park, Sweetgum Picnic Area

- [x] Events at the `V

[2019-03-04 04:59] bmvoss opened #69 "FIX: Fairfax Parks schema updates"
Event start and end times for this source don't appear in the Events csv output, although the Events do have start and end times shown on the event websites.

## Expected Behavior

- [ ] Events from `Organizer` **Fairfax Parks** don't have `start or end times`.

[2019-03-05 14:10] csmcallister commented on #69
Looks like Fairfax County no longer displays the event times on the main calendar page, so I'll need to scrape each event's website to get the times. Seems doable upon first glance.

[2019-03-05 14:14] csmcallister commented on #68
I think all these issues are soluble. I'll take a stab soon.

[2019-03-05 17:32] bmvoss commented on #69
Interesting. I hope it's a fairly simple fix!

[2019-03-07 18:49] csmcallister commented on #69
closed by #70

[2019-03-07 18:49] #69 closed

[2019-03-07 18:51] csmcallister commented on #55
closed by c93faf9

[2019-03-07 18:51] #55 closed

[2019-03-07 18:52] csmcallister commented on #53
closed by #63

[2019-03-07 18:52] #53 closed

[2019-03-07 18:53] csmcallister commented on #13
closing to clean issue log

[2019-03-07 18:53] #13 closed

[2019-03-07 23:07] csmcallister commented on #68
@bmvoss RE: the first three check-boxes, getting a more specific `Event Venue Name` is going to be difficult to perfect. The ones that have been specific so far are so because the API was being kind. For the others, I'd need to scrape the event's website, which *usually* has a more specific location. But even if there's a more specific location, the chief issue is that the `Location` section of th

[2019-03-08 04:52] bmvoss commented on #68
@csmcallister Yeah the Location field is messy sometimes and so probably not worth trying to extract `Venue` names out of. Thinking more about this, I'm inclined to agree that a `Venue` name more specific than the name of a park is probably not necessary for us to straighten out - people can find more details at the event URL. I think I was just trying to get Venues specific enough to assign an ad

[2019-03-08 12:25] csmcallister commented on #68
Sounds good. But we can still get to having pins on a map, at least with these NPS events, since latitude and longitude is usually returned by the API!

And I’ll try to push changes this afternoon or evening and then share an updated csv.

[2019-03-08 20:56] csmcallister commented on #68
closed by bdad7cc

[2019-03-08 20:56] #68 closed

[2019-03-11 02:38] csmcallister opened #74 "BUG: DUG Network event w/o start/end times"
## Expected Behavior
An event needs at least a start time. If it doesn't have one, then it should be dropped.

## Current Behavior
[This](http://dugnetwork.org/event/international-world-water-day-3/) event is in the output. Both the start and end times are empty.

## Possible Solution
Drop it with a conditional.

[2019-03-11 02:41] csmcallister opened #75 "BUG: Montgomery event dates and times not parsed correctly"
## Expected Behavior
The Montgomery scraper correctly extracts the event start/end dates and start/end times.

## Current Behavior
It fails to capture those fields on [this event](https://www.montgomeryparks.org/events/orchid-festival-hosted-by-friends-of-brookside-gardens/) due to the event datetime string being multi-day.

## Possible Solution
Add a check to drop events without times and then us

[2019-03-11 02:44] csmcallister opened #76 "BUG: Missing event website for some Arlington events"
## Expected Behavior
Each event has a website in its output. If you can't get one, then drop the event.

## Current Behavior
Three of the Arlington events (Crosshairs Garage Races) don't have a website, although a google search turns it up [here](https://www.crystalcity.org/do/crosshairs-garage-races).

[2019-03-12 00:59] bmvoss opened #77 "ENH: Add location text to Event Descriptions"
- [x] For events that contain `Venue` information that can be interpreted as either Maryland, DC, or Virginia, add the two letter abbreviation for the state (MD/DC/VA), inside parentheses, and followed by a space, to the beginning of the `Event Description`. So Event Descriptions will start with one of the following (without the quotation marks):
- "(MD) "
- "(DC) "
- "(VA) "

## Context
This is a

[2019-03-12 02:36] kirakrishnan commented on #76
@csmcallister can I work on this?

[2019-03-12 13:19] bmvoss opened #79 "ENH: New event source: DC Parks & Rec"
The `Event Source` **DC Parks and Recreation** is a high priority for adding to the calendar. This source has not yet been evaluated for scrapability. Their events can be found here: http://dpr.events/

## Context
If this source is deemed not scrapable, please let me know ASAP.

[2019-03-12 17:12] bmvoss opened #80 "BUG: Missing Event Descriptions (NPS + Virginia Native Plant Soc.)"
A handful of events from **NPS (Harpers Ferry & Rock Creek Park)** and **Virginia Native Plant Society** are missing `Event Descriptions` in the CSV output file. These events do have descriptions on their websites.

## Current Behavior
These Events are missing Event Descriptions in the CSV output file:

- [x] **NPS Harpers Ferry** events:
https://www.nps.gov/planyourvisit/event-details.htm?id=88B9

[2019-03-12 18:44] csmcallister commented on #76
@kirakrishnan go for it!

[2019-03-13 02:41] kirakrishnan commented on #76
@csmcallister created pull request

[2019-03-15 12:50] csmcallister commented on #75
Fixed it so that events without start/end dates and/or start/end times get filtered out. This is a short-term solution.

[2019-03-15 13:18] #80 closed

[2019-03-15 13:20] csmcallister commented on #74
@pasrpr Would you want to tackle this?

[2019-03-15 15:11] pasrpr commented on #74
Sure Scott, will take a look

[2019-03-16 00:51] csmcallister commented on #77
@bmvoss I've got a solution that works for ~50% of the 842 events in the last scrape. Bumping that up much higher will require more time though, as I'd need to re-examine how each of the individual scrapers works and then create a bespoke solution. Even then, getting to 100% coverage is a long shot. With that said, do you think 50% coverage is good for now, or at least until we figure out if we're

[2019-03-16 01:00] csmcallister commented on #56
@bmvoss are we good to close this issue now that the script outputs a csv for the organizers, venues, and events?

[2019-03-16 01:02] csmcallister commented on #29
I think this is a duplicate of #56 @bmvoss

If so, can we close?

[2019-03-17 15:23] bmvoss commented on #77
@csmcallister I think that's good for now. I tried to convey to Stella that this would be hard/impossible to do reliably, so 50% seems pretty decent. If getting much past that is a lot of work, IMO effort would be better spent on getting an actual map working. I will pass this on to Stella.

[2019-03-17 15:28] bmvoss commented on #56
@csmcallister Yes, thanks! If it's possible to include some form of the word "scraped" in all the output filenames, that will help make sure we keep the scraped an manual outputs separate.

[2019-03-17 15:30] bmvoss commented on #29
@csmcallister Huh, not sure why I created two of these. Yes, go ahead and close this one.

[2019-03-18 10:10] #29 closed

[2019-03-18 10:19] #56 closed

[2019-03-18 10:19] #77 closed

[2019-03-18 10:54] csmcallister commented on #74
closed by 0538b0c

[2019-03-18 10:54] #74 closed

[2019-03-24 17:50] csmcallister opened #91 "TST: Replace httpretty with requests-mock and responses"
## Expected Behavior
We should use the same request mock libraries throughout our test suite. This reduces dependencies.

## Current Behavior
We use `httpretty` as well as `responses` and `requests-mock`. Unfortunately, `httpretty` isn't as versatile and stable as the other two libraries.

## Possible Solution
Replace usage of `httpretty` with `responses` and `requests-mock`. Their APIs are very s

[2019-04-07 13:42] csmcallister commented on #76
closed by 667a74e

[2019-04-07 13:42] #76 closed

[2019-04-17 02:08] pasrpr commented on #79
Looks like http://dpr.events/ is not scrapable. Only when we click on RSVP and go to specific website, we are able to see the details.

[2019-05-09 00:04] csmcallister opened #95 "BUG: Incorrectly parsed event cost for Montgomery event"
## Expected Behavior
Event costs are correctly parsed from an event website (see the right-hand panel on this event's [page](https://www.montgomeryparks.org/events/19th-century-health-healing-workshop-at-oakley-cabin/), for example).

## Current Behavior
Most event costs are listed on the event pages without a decimal followed by cents. This [page](https://www.montgomeryparks.org/events/19th-centu

[2019-05-09 00:21] csmcallister opened #96 "BUG: ANS event scraper breaks due to source html changes"
## Expected Behavior
Although it's impossible to prevent a website we're scraping from changing their html, we should write code that fails gracefully, i.e. without exiting the script and losing all of the other events we've scraped from that source. In the events that something unexpected happens, like a `<p>` tag that we thought was present but that has in fact disappeared, we should include err

[2019-05-09 00:27] csmcallister opened #97 "BUG: VNPS event scraper fails due to source html changes"
## Expected Behavior
Although it's impossible to prevent a website we're scraping from changing their html, we should write code that fails gracefully, i.e. without exiting the script and losing all of the other events we've scraped from that source. In the events that something unexpected happens, like a <p> tag that we thought was present but that has in fact disappeared, we should include error

[2019-05-09 00:31] csmcallister opened #98 "BUG: DUG Network event scraper breaks due to source html changes"
## Expected Behavior
Although it's impossible to prevent a website we're scraping from changing their html, we should write code that fails gracefully, i.e. without exiting the script and losing all of the other events we've scraped from that source. In the events that something unexpected happens, like a <p> tag that we thought was present but that has in fact disappeared, we should include error

[2019-05-15 00:44] csmcallister commented on #98
closed by 98b97ed

[2019-05-15 00:44] #98 closed

[2019-05-15 00:45] csmcallister commented on #95
closed by 59a1f47

[2019-05-15 00:45] #95 closed

[2019-05-15 02:33] csmcallister commented on #97
fixed by 955b15a

[2019-05-15 02:33] #97 closed

[2019-05-16 00:18] csmcallister commented on #96
closed by 8cbd43b

[2019-05-16 00:18] #96 closed

[2019-06-07 20:00] akaahanui opened #102 "ENH: Only pull 2019 events"
## Expected Behavior
We decided to only list events for 2019, so can you adjust the scrapers to only pull those? We kept the 2020 ones in a separate sheet for fear we may not capture them on the next scrape.

## Current Behavior
Scraper currently pulling 2020 events.

## Possible Solution
Code to ignore 7 months in future

## Context
It will take us less time to curate the .csv if the 2020 events

[2019-06-07 20:08] akaahanui opened #103 "ENH: Was there ever a scraper for Anacostia Watershed Society (AWS)?"
## Expected Behavior
We thought AWS was being scraped. Was there an issue requiring it to be manually scraped?

Event calendar here:  https://www.anacostiaws.org/events-calendar.html

## Current Behavior
AWS not being scraped

## Possible Solution
Create scraper for AWS if possible.

## Context
AWS is an important ally to Capital Nature so we'd like to capture their events. We just need to know if

[2019-06-07 20:35] akaahanui opened #104 "ENH: Pulling State info for each event and including with description"
## Expected Behavior
We would love it if the state abbreviation could be listed in front of each description pulled.

For example:
(DC) Explore Rock Creek...
(VA) Join us for...
(MD) Take a tour...

## Current Behavior
Some events have the States listed, but we noticed some of the NPS events did not have them

## Context
We feel it would be helpful if when viewing the calendar event descriptions t

[2019-06-13 02:58] akaahanui opened #105 "ENH: New event source - Maryland Native Plant Society"
## Expected Behavior
Scrape events from Maryland Native Plant Society
https://mdflora.org/calendar

[2019-06-13 03:05] akaahanui opened #106 "ENH: The battlefield issue: Requesting certain parks to be removed from NPS scrape"
## Expected Behavior
If possible, we'd like to see events from these NPS parks:
Rock Creek Park
Kenilworth Aquatic Gardens
Ft Dupont Park
Glen Echo Park
Wolf Trap
Anacostia Park

Did not know how to update the event sources template here:
https://github.com/DataKind-DC/capital-nature-ingest/blob/master/event_sources.md

## Context
Please let me know if this request is not possible.

[2019-06-13 03:16] akaahanui opened #107 "ENH: Please create a scrape log"
## Expected Behavior
We'd like to be able to see dates when the scrapers are run and if there are any event sources that are broken.

## Current Behavior
We don't have a central place to find scraper status at a glance.

## Context
This log inform whether or not we need to do manual scrapes on certain event sources.

[2019-06-13 22:33] csmcallister commented on #106
If these are in fact National Park Service parks, they should be included with the NPS event source handler because we use their API to fetch all events from all parks within VA, DC and MD. It could be that these venues simply don't report events that are made available through the API. Or something insidious could be going on.

### Proposed Solution
I can get a list of the parks that the NPS API

[2019-06-13 22:35] csmcallister commented on #107
I currently log errors that break a certain event source when running the scraper for all events, so we're most of the way toward solving this. @akaahanui let me do some thinking on the format of this log and then let's see what'll work best for you et al. I'm assuming an excel file of some sort would be best, so correct me if I'm wrong.

[2019-06-14 00:16] csmcallister commented on #79
Closing since this not scrapable.

[2019-06-14 00:16] #79 closed

[2019-06-14 00:20] csmcallister opened #108 "ENH: New event source - Nova Parks"
## Event Source Calendar
https://www.novaparks.com/things-to-do

## Can we scrape it?

## Context
This is a nice-to-have identified in June's DataJam.

## Are we scraping it?
 - [ ] Yes, we are!

[2019-06-14 00:41] azpoliak commented on #108
Looking into it

[2019-06-14 00:57] preischer opened #109 "ENH: New event source: Eleventh Street Bridge"
## Expected Behavior

Event Source for the [Eleventh Street Bridge Park](https://bbardc.org/events/)
## Current Behavior

We don't have one!

## Possible Solution

## Steps to Reproduce (for bugs)

## Context

[2019-06-25 12:33] csmcallister opened #110 "DOC: Use Issues to track event sources"
## Expected Behavior
Document how we can use GitHub Issues to request new event sources for scraping. Each source's issue will contain information on whether or not that source was scrap-able.

## Current Behavior
We use a markdown table, which requires commits to update.

## Possible Solution
Use Issues

## Context
This will make collaboration easier.

[2019-06-25 12:35] csmcallister opened #111 "ENH: Add The Virginia Nature Conservancy event source"
## Event Source Calendar
https://www.nature.org/en-us/get-involved/how-to-help/volunteer-and-attend-events/find-local-events-and-opportunities/?r=United%20States&s=Virginia

## Can we scrape it?
There's an API you can hit.

## Context
This is a nice-to-have.

[2019-06-25 12:35] #111 closed

[2019-06-25 12:38] csmcallister opened #112 "ENH: Add the Virginia Native Plant Society event source"
## Event Source Calendar
https://vnps.org/events/

## Can we scrape it?
Yes, with BeautifulSoup

## Context
This is a nice-to-have.

## Are we scraping it?
 - [x] Yes we are!

[2019-06-25 12:38] #112 closed

[2019-06-25 12:40] csmcallister opened #113 "ENH: New Event Source: U.S. Botanic Gardens"
## Event Source Calendar

https://learn.usbg.gov/calendar/event

## Can we scrape it?
It appears to be scrape-able with BeautifulSoup

## Context
This is a nice-to-have.

## Are we scraping it?
- [x] yes we are!

[2019-06-25 12:41] csmcallister opened #114 "ENH: New event source: U.S. National Arboretum"
## Event Source Calendar
https://usna.usda.gov/visit/events-calendar/

## Can we scrape it?

## Context
This is a nice-to-have.

## Are we scraping it?
- [ ] yes, we are!

[2019-06-25 12:43] csmcallister opened #115 "ENH: New event source: U.S. Arboretum/Friends of the National Arboretum"
## Event Source Calendar
https://www.eventbrite.com/o/the-friends-of-the-national-arboretum-13276552841

## Can we scrape it?
They use Eventbrite to host their events, so we can use the EventBrite API

## Context
This is a nice-to-have.

## Are we scraping it?
 - [x] yes, we are

[2019-06-25 12:44] csmcallister opened #116 "ENH: New event source: Sierra Club"
## Event Source Calendar
https://www.sierraclub.org/dc/calendar

## Can we scrape it?
Yes, with BeautifulSoup

## Context
This is a nice-to-have.

## Are we scraping it?
- [x] Yes, we are!

[2019-06-25 12:44] #116 closed

[2019-06-25 12:45] csmcallister opened #117 "ENH: New event source: Rock Creek Conservancy"
## Event Source Calendar
https://www.rockcreekconservancy.org/what-we-do/upcoming-events

## Can we scrape it?

## Context
This is a nice-to-have.

## Are we scraping it?
- [x] Yes, we are!

[2019-06-25 12:46] csmcallister opened #118 "ENH: New event source: National Park Service"
## Event Source Calendar
https://www.nps.gov/subjects/developer/api-documentation.htm#/

## Can we scrape it?
There's an API you can hit.

## Context
This will give us a lot of events as it's all of the national parks in VA, DC and MD.

Are we scraping it?
 - [x] Yes, we are!

[2019-06-25 12:46] #118 closed

[2019-06-25 12:56] csmcallister opened #119 "ENH: New Event Source: Montgomery County Parks"
## Event Source Calendar
https://www.montgomeryparks.org/calendar/

## Can we scrape it?
Yes, with beautiful soup

## Context
This is a nice-to-have.

## Are we scraping it?
  - [x] Yes, we are!

[2019-06-25 12:56] #119 closed

[2019-06-25 12:57] csmcallister opened #120 "ENH: New Event Source: Little Falls Watershed Alliance"
## Event Source Calendar

https://www.lfwa.org/events

## Can we scrape it?

## Context
This is a nice-to-have.

## Are we scraping it?
 - [x] Yes, we are!

[2019-06-25 12:58] csmcallister opened #121 "ENH: New event source: Friends of Kenilworth Aquatic Gardens"
## Event Source Calendar
https://www.eventbrite.com/o/friends-of-kenilworth-aquatic-gardens-8632128868

## Can we scrape it?
We can use the Eventbrite API

## Context
This is a nice-to-have.

## Are we scraping it?
 - [x] Yes, we are!

[2019-06-25 12:58] #121 closed

[2019-06-25 12:59] csmcallister opened #122 "ENH: New Event Source: Fairfax County Parks"
## Event Source Calendar
https://fairfaxcounty.gov/parks/park-events-calendar

## Can we scrape it?
Yes, with BeautifulSoup

## Context
This is a nice-to-have.

## Are we scraping it?
 - [x] Yes, we are!

[2019-06-25 12:59] #122 closed

[2019-06-25 13:00] csmcallister opened #123 "ENH: New event source: Earth Conservation Corps"
## Event Source Calendar
https://www.earthconservationcorps.org/events-1

## Can we scrape it?

## Context
This is a nice-to-have.

## Are we scraping it?
 - [ ] Yes, we are!

[2019-06-25 13:01] csmcallister opened #124 "ENH: New event source: Dumbarton Oaks Park Conservancy"
## Event Source Calendar
https://dopark.org/volunteer/

## Can we scrape it?

## Context
This is a nice-to-have.

## Are we scraping it?
- [ ] Yes, we are!

[2019-06-25 13:02] csmcallister opened #125 "ENH: New event source: DUG Network"
## Event Source Calendar
http://dugnetwork.org/events/

## Can we scrape it?
Yes, with BeautifulSoup

## Context
This is a nice-to-have.

## Are we scraping it?
 - [x] Yes, we are!

[2019-06-25 13:02] #125 closed

[2019-06-25 13:04] csmcallister opened #126 "ENH: New event source: DC Audubon Society"
## Event Source Calendar
https://www.eventbrite.com/o/dc-audubon-10726377705

## Can we scrape it?
We can use the Eventbrite API.

## Context
This is a nice-to-have.

## Are we scraping it?
- [x] Yes, we are!

[2019-06-25 13:05] csmcallister commented on #126
@stefangouyet I tagged you on this since you had claimed it awhile back. Did you have anything working for this, or should I unassign you so that others can tackle it?

[2019-06-25 13:06] csmcallister opened #127 "ENH: New event source: City Blossoms"
## Event Source Calendar
http://cityblossoms.org/calendar

## Can we scrape it?
There's an API you can hit.

## Context
This is a nice-to-have.

## Are we scraping it?
 - [x] Yes, we are!

[2019-06-25 13:06] #127 closed

[2019-06-25 13:07] csmcallister opened #128 "ENH: New event source: Casey Trees"
## Event Source Calendar
https://caseytrees.org/events

## Can we scrape it?
Yes, with BeautifulSou;

## Context
This is a nice-to-have.

## Are we scraping it?
 - [x] Yes, we are!

[2019-06-25 13:07] #128 closed

[2019-06-25 13:08] csmcallister opened #129 "ENH: New event source: Building Bridges Across the River (BBAR)"
## Event Source Calendar
http://www.thearcdc.org/events/upcoming

## Can we scrape it?
Yes, with BeautifulSoup

## Context
This is a nice-to-have.

## Are we scraping it?
- [ ] Yes, we are!

[2019-06-25 13:09] csmcallister opened #130 "ENH: New event source: Audubon Naturalist Society"
## Event Source Calendar
https://anshome.org/events-calendar/

## Can we scrape it?
Yes, with Beautiful Soup

## Context
This is an important one to have.

## Are we scraping it?
- [x] Yes, we are!

[2019-06-25 13:09] #130 closed

[2019-06-25 13:10] csmcallister opened #131 "ENH: New event source: Arlington County Parks"
## Event Source Calendar
https://environment.arlingtonva.us/events/

## Can we scrape it?
Yes, with Beautiful Soup

## Context
This is a nice-to-have, but will have lots of parks/events.

## Are we scraping it?
- [x] Yes, we are!

[2019-06-25 13:10] #131 closed

[2019-06-25 13:12] csmcallister commented on #103
Somebody name An (I *think* Nguyen) was working on this but I haven't seen/heard from them. I'll reach out to them on Slack to see.

[2019-06-25 13:15] csmcallister opened #132 "ENH: New event source: Anacostia Riverkeeper"
## Event Source Calendar
https://www.facebook.com/pg/AnacostiaRiverkeeper/events
or
https://www.anacostiariverkeeper.org/events

## Can we scrape it?
This is a facebook page, so likely not, unless there's another page containing their events.

## Context
This is a nice-to-have.

## Are we scraping it?
 - [x] Yes, we are!

[2019-06-25 13:17] csmcallister opened #133 "ENH: New event source: 11th Street Bridge Park"
## Event Source Calendar
https://www.bridgepark.org/events/calendar

## Can we scrape it?
There's an API you can hit.

## Context
This is a nice-to-have.

## Are we scraping it?
 - [ ] Yes, we are!

[2019-06-25 13:18] #133 closed

[2019-06-25 13:18] csmcallister commented on #109
Melissa was previously working on this but dropped off, so it's now open for anyone else.

[2019-06-25 14:42] preischer commented on #109
I'm working on this, not sure how to assign myself? BBAR is also a duplicate of this issue.

[2019-06-25 15:24] csmcallister commented on #129
Duplicate of #109 so closing

[2019-06-25 15:24] #129 closed

[2019-06-25 18:38] csmcallister commented on #109
Sounds good @preischer. I [assigned](https://help.github.com/en/articles/assigning-issues-and-pull-requests-to-other-github-users) you to this issue so that others can see you're on it. Thanks and feel free to holler if you've got any questions.

[2019-06-25 18:40] csmcallister commented on #108
Hey @azpoliak! Sorry I didn't see your comment earlier. I've just assigned this to you so that others are aware. Feel free to reach out here or in Slack if you've got any questions or need help.

[2019-06-25 18:46] csmcallister commented on #103
An fell off so I'll make a new issue requesting this source to be scraped as a priority @akaahanui

[2019-06-25 18:46] #103 closed

[2019-06-25 18:49] csmcallister opened #134 "ENH: New event source: Anacostia Watershed Society"
## Event Source Calendar
https://www.anacostiaws.org/events-calendar.html

## Can we scrape it?

## Context
This one is a priority as the Cap Nature team currently gathers the events manually.

## Are we scraping it?
 - [x] Yes, we are!

[2019-06-26 23:04] csmcallister opened #135 "BUG: Some Sierra Club events are missing an event end time."
## Expected Behavior
The event end time is a required field for the WordPress plugin. We should always have one or exclude the event.

## Current Behavior
In the June run of the scraper, some of the Sierra club events (c.f. [this](https://act.sierraclub.org/events/details?formcampaignid=7010Z000001PW7nQAG)) didn't list an event end time on the event webpage. These events weren't dropped before bei

[2019-06-26 23:19] csmcallister opened #136 "BUG: ANS event scraper fails"
## Expected Behavior
Scraper works without a hitch!

## Current Behavior
[code]

## Possible Solution
This is cause by the ANS event page no longer having a div tag with the `eventon_desc_in` class. Add a logging function to the offending line (`eventon_full_description = event_website_soup.find('div', {'class':'eventon_desc_in'})`) to log the event website url in the case of a failure and then in

[2019-06-27 00:07] csmcallister commented on #135
From @bmvoss 👍

Re: the lack of end times: I manually created a test event with no end time: http://dev.capitalnature.org/event/test-with-no-end-time/ If you have an end date but no end time, it appears that it applies an arbitrary end time, close to but not exactly midnight 🤷 But when I put text in the end time field and no end date, and that seemed to work (the text didn't appear, but the start

[2019-06-27 01:08] csmcallister commented on #75
While running the scraper for June, these warnings were logged:

[code]

[2019-07-06 15:52] csmcallister commented on #91
Closing as we're no longer going to bother mocking requests. Instead, we'll simply enforce the schema.

[2019-07-06 15:52] #91 closed

[2019-07-07 15:08] csmcallister commented on #136
closed by 284c384

[2019-07-07 15:08] #136 closed

[2019-07-07 17:41] csmcallister commented on #75
Closing this as these warnings are raised by a minority of events. A fix would require accounting for all of these odd ways in which the site can report a time. Instead, we'll rely on them using the format they use for 99% of the events. We'll still log these warnings in case they become more numerous.

[2019-07-07 17:41] #75 closed

[2019-07-07 18:17] csmcallister commented on #135
Closed (at least for Sierra Club) by 6b22e82. We can re-open this issue if we notice it for other event sources.

[2019-07-07 18:17] #135 closed

[2019-07-08 13:43] csmcallister commented on #134
Closed by 196cac9

@akaahanui We're now scraping events from Anacostia Watershed Society!

[2019-07-08 13:43] #134 closed

[2019-07-13 17:28] csmcallister commented on #115
closed by 8ae29ba @thanks for getting 99.9% of this one working @dominicwhite!

[2019-07-13 17:28] #115 closed

[2019-07-13 17:28] csmcallister commented on #115
We're now scraping Friends of the National Arboretum @akaahanui !

[2019-07-13 18:14] csmcallister commented on #117
@dominicwhite I know you had taken a stab at starting this, but I went ahead and wrapped it up since it was a bit of a priority. See #143

[2019-07-13 20:30] csmcallister commented on #117
closed by #143

Hey @akaahanui! Adding Rock Creek Conservancy to the scrapers with this. Much thanks to @dominicwhite

[2019-07-13 20:30] #117 closed

[2019-07-14 00:55] hunjwaslike commented on #114
I can try scraping this. I dont think it will be difficult.

[2019-07-14 13:12] csmcallister commented on #114
Awesome @hunjwaslike

Please note that I added some instructions on how to include a test for your scraper in the CONTRIBUTING.MD file. Basically, all you need to do is copy-paste one of the other tests that have been written and then change one line of code to reflect the name of the file you wrote your scraper in. Feel free to reach out on Slack if you've got questions.

[2019-07-14 16:18] csmcallister commented on #106
@akaahanui here's a spreadsheet with the 80 DMV national parks.

[dmv_national_parks.xlsx](https://github.com/DataKind-DC/capital-nature-ingest/files/3390161/dmv_national_parks.xlsx)

All of the parks that you listed are in there. If events aren't showing up for one of those parks, it could be the case that the National Park Service isn't inserting those events into their database. From what I've

[2019-07-28 18:41] akaahanui commented on #107
HI @csmcallister! I wanted to circle back on the scrape log. Excel or Google sheet would be fine. Now that we have 3 volunteers looking for events, we're trying to keep track of which manual ones we should be focusing on. I see we have a ticket for NOVA Parks, which is good, as one of our volunteers did a manual scrape last week. If that scrape goes live, let me know so we can take that off our ma

[2019-07-30 01:15] csmcallister commented on #107
I haven't had a chance yet to work on these logs. I was hoping we could discuss what this log file should look like at this week's DataJam. Since neither you nor Stella can make it, could you attach an excel file to this issue that contains the columns you'd expect to see in this log file?

[2019-07-31 00:19] csmcallister opened #144 "BUG: Event sources can display event datetimes in a variety of formats."
## Expected Behavior
Event sources can display event datetimes in a variety of formats. We log errors when something unexpected is encountered so that we can make a patch.

## Current Behavior
There are a few Montgomery County events that raise warnings:

[code]

## Possible Solution
Go checkout the event pages and see what's different about the datetimes.

## Steps to Reproduce (for bugs)
`python

[2019-07-31 14:40] akaahanui commented on #107
@csmcallister The log can be really simple. Here is a mock-up for consideration and comment.

https://docs.google.com/spreadsheets/d/1B1nQCWgiSL4wjOPnaJsiangt9_2Hk6M9AZUW_6mcjKY/edit?usp=sharing

Here is a link to the calendar process flow doc we reviewed on our last call. Just wanted to share as reminder to see if you had any comments or edits we should make:

https://docs.google.com/spreadsheets

[2019-08-01 00:46] bmvoss commented on #104
@csmcallister  In the most recent scrape (7/29/19), some Event Sources have the state abbreviation added to the Event Description but many do not. The ones that still don't have this are:

- NPS (National Park Service)
- Audubon Naturalist Society
- Casey Trees
- City Blossoms - many events are also showing "see event website" as the Venue, possibly because the Venue name is buried in the text of

[2019-08-01 00:53] csmcallister commented on #102
closed by 5d2ef50

[2019-08-01 00:53] #102 closed

[2019-08-01 08:56] bmvoss opened #148 "BUG: Special characters omitted from Event Description (Montgomery Parks)"
## Current Behavior
In the latest scrape (7/29/19) there are some events from Montgomery Parks in Spanish. In the Event Descriptions, all the special characters (á, é, í, ó, ú, ü, ñ, ¿, ¡) are removed. Can this be prevented? It might be a problem when scraping other sources, but this is the first time I've noticed it.

Here's an example of such an event: https://www.montgomeryparks.org/events/yout

[2019-08-01 19:23] csmcallister opened #149 "TST: test for event start and end times needs to match schema"
## Expected Behavior
The schema test for the event start/end times should actually enforce the schema.

## Current Behavior
Events without a start and end time that are not all day events currently pass. For example:

[code]

## Possible Solution
Update the test logic to raise an error in this case.

## Steps to Reproduce (for bugs)
N/A

## Context
We want folks to trust the test results, so let's

[2019-08-02 02:04] csmcallister commented on #149
closed by c7f54ca

[2019-08-02 02:04] #149 closed

[2019-08-02 02:07] csmcallister commented on #148
Woah! I didn't think this was a possibility when I fixed those weird characters we were getting (#55). Looks like I'll need a more surgical fix.

[2019-08-02 02:13] csmcallister commented on #104
It's gonna take me some time to improve upon the current method. I basically need to look at each event scraper and come up with some custom logic. To help me prioritize the most important event sources, could you sort that list of event sources by their priority?

Unfortunately, I'm heading to 🇮🇹 next week until the end of the month for a family vacation. I doubt I'll be able to get all of these

[2019-08-03 01:10] csmcallister commented on #109
closed by 596cc99

[2019-08-03 01:10] #109 closed

[2019-09-18 15:12] wkarney commented on #126
@csmcallister I can take this one on!

[2019-09-20 03:09] jmelot commented on #113
Just stumbled on DataKind DC! I have some time this weekend - can work on this.

[2019-09-20 15:02] wkarney commented on #123
FYI: Currently looks like their website is down / under construction: <img width="717" alt="Screen Shot 2019-09-18 at 1 50 53 PM" src="https://user-images.githubusercontent.com/35663282/65337377-01020e00-db96-11e9-8fdc-a004d0368314.png">

[2019-09-20 15:33] csmcallister commented on #123
@akaahanui Do you have any insight into this?

[2019-09-20 18:11] csmcallister commented on #126
Scraper added with c7dd78f!

[2019-09-20 18:11] #126 closed

[2019-09-20 19:58] akaahanui commented on #123
@csmcallister I do not but I will see what I can find out. Should I just be asking when then new site will be live?

[2019-09-21 02:34] csmcallister commented on #123
@akaahanui in order to get events from this source, we'll eventually need to know what the new url is. If you don't mind, could you please comment in this issue once the new site is up? Then we can re-evaluate whether or not the event source is scrapable.

[2019-09-21 02:57] akaahanui commented on #123
@csmcallister  Will do!

[2019-09-21 15:06] csmcallister commented on #148
fixed by e9f5512 @bmvoss

[2019-09-21 15:06] #148 closed

[2019-09-21 16:18] csmcallister commented on #144
Closed by 091f16a

[2019-09-21 16:18] #144 closed

[2019-09-24 18:16] csmcallister opened #157 "BUG: Fairfax scraper fails when an event website lacks event times"
## Expected Behavior
If a Fairfax Event is missing start/end dates/times on the event website, then we can't get all the data we need and that error should pass silently.

## Current Behavior
This error raises an exception:

[code]

## Possible Solution
This [event](https://www.fairfaxcounty.gov/parks/huntley-meadows/catch-critter) raised the error, and it does appear that it is completely missing

[2019-09-24 18:17] csmcallister commented on #157
closed by a5c58dd

[2019-09-24 18:17] #157 closed

[2019-09-25 20:55] csmcallister commented on #113
Big thanks @jmelot!

[2019-09-25 20:55] #113 closed

[2019-09-25 21:08] csmcallister commented on #132
Thanks again @NicoleJaneway !

[2019-09-25 21:08] #132 closed

[2019-10-15 22:32] csmcallister commented on #33
Just saw this in the issue backlog. We're currently getting the event descriptions and currency symbol (hardcoded, of course). I can check to see if it's possible to get the cost as well.

[2019-10-15 23:21] csmcallister opened #162 "BUG: ANS Event Source Scraping Error"
## Expected Behavior
The ANS scraper should work! 😢

## Current Behavior
We discovered that the scraper broke when submitting a PR for another event source.

## Possible Solution
JSON for each event can be found with this:

[code]

## Steps to Reproduce (for bugs)
Run the ANS scraper:

[code]

And you'll see this traceback:

[code]
Issue is likely a change in the HTML content of the website.

## C

[2019-10-16 00:11] rachelauryn commented on #124
Stella & Ana said this source doesn't have enough events to justify a scrape anymore, so they don't want us to do it.

[2019-10-16 00:11] #124 closed

[2019-10-16 00:54] rachelauryn commented on #107
Notes from discussion about design of log:
- Google sheet that auto-updates whenever scrape is run
- Scrape should run every month, the log should maintain data from the last 3 months (one tab per scrape/month would be ideal)
- Tab 1 columns: number of event sources scraped successfully & number of events scraped
- Tab 2 is error log: columns: 1 date of scrape, 2 name of source, 3 name of event, &

[2019-10-16 17:26] csmcallister commented on #33
Closed by e0d2fdc

[2019-10-16 17:26] #33 closed

[2019-10-16 17:27] csmcallister commented on #162
Closed by e0d2fdc

[2019-10-16 17:27] #162 closed

[2019-10-23 00:49] csmcallister opened #165 "BUG: Eventbrite events are failing"
## Expected Behavior
Eventbrite sources work.

## Current Behavior
All of the Eventbrite event sources are failing with the same error. Perhaps there was a change in their API or there's an issue with the API token.

## Steps to Reproduce (for bugs)
Run any test suite for an Eventbrite source, such as FONA, and you'll get the following traceback:

[code]

## Context
There are four event sources th

[2019-10-23 01:15] csmcallister commented on #165
This problem appears to be a the result of an issue with their API since even console calls from their API documentation produce the same error (c.f. [this](https://www.eventbrite.com/platform/api#/reference/event-search/search-events?console=1)).

[2019-10-24 00:22] csmcallister commented on #165
Confirmation that Eventbrite accidentally broke the `search` endpoint and is working to fix/replace it:

https://groups.google.com/forum/#!topic/eventbrite-api/-E0MG7THMsc

[2019-10-29 09:16] #165 closed

[2019-11-02 05:03] akaahanui opened #167 "ENH: Scrape request and notes"
HI Scott - Stella and I were reviewing the last scrape. Thanks for pulling. We'd like to run the scrapers again at your convenience with some adjustments based on our observations/requests listed below.

Question: does each scraper have the date duration programmed individually? For example, some orgs had only October or early November and others were well into 2020. (For Arlington Parks we delete

[2019-11-05 01:52] csmcallister commented on #108
Hey @azpoliak. Any progress on this? Otherwise I'll unassign you so others can work on it.

[2019-11-06 04:55] akaahanui opened #168 "ENH: New event source: Audubon Society of Northern Virginia"
## Event Source Calendar
http://audubonva.org/birdwalks-and-field-trips

## Can we scrape it?

## Context
This is a priority org. Please pull through the end of Feb 2020.

## Are we scraping it?

[2019-11-06 05:15] akaahanui opened #169 "ENH: New event source: Loudoun Wildlife Conservancy"
## Event Source Calendar

https://loudounwildlife.org/events/

## Can we scrape it?

## Context
This is a priority org. Please pull through the end of Feb 2020.

## Are we scraping it?

[2019-11-06 05:24] akaahanui opened #170 "ENH: New event source: Plant NOVA Natives"
## Event Source Calendar

https://www.plantnovanatives.org/copy-2-of-event-calendar

## Can we scrape it?
## Context
This would be nice to have.  We see there is only one applicable event in December ( a tour).

## Are we scraping it?

[2019-11-06 05:34] akaahanui opened #171 "ENH: New event source: Potomac Conservancy"
## Event Source Calendar

https://potomac.org/events

## Can we scrape it?

It looks doable 👍

## Context

This is a priority org. They use Eventbrite.
Please pull through the end of Feb 2020.

## Are we scraping it?

[2019-11-06 05:36] akaahanui opened #172 "ENH: Update event source calendar url (Rock Creek Park Conservancy)"
## Event source calendar

Please update to: https://www.rockcreekconservancy.org/what-we-do/upcoming-events

Please pull through the end of Feb 2020.

[2019-11-06 05:39] akaahanui opened #173 "ENH: New event source: Sierra Club (MD Chapter)"
## Event Source Calendar
https://www.sierraclub.org/maryland/outings-calendar-maryland

## Can we scrape it?

## Context

Please add, since we collect DC and VA Chapter events. Please pull through the end of Feb 2020.

## Are we scraping it?

[2019-11-06 05:47] akaahanui opened #174 "ENH: New event source: U.S. National Arboretum"
## Event Source Calendar
https://www.usna.usda.gov/visit/calendar-of-events/

## Can we scrape it?
## Context

This is a priority org.  Please pull through the end of Feb 2020.

## Are we scraping it?

[2019-11-12 22:37] akaahanui opened #175 "BUG: Check if Eventbrite issue is resolved"
## Expected Behavior
We use the Eventbrite API for the following event sources.

- Riverkeeper
- FONA
- Friends of Kenilworth
- NOVA Parks
- Sierra Club MD

## Current Behavior
Recently, Eventbrite made some changes that broke the `/search` endpoint. It was announced [here](https://groups.google.com/forum/#!topic/eventbrite-api/-E0MG7THMsc). But we use the `/organizers` endpoint, which nevertheles

[2019-11-12 22:53] akaahanui opened #176 "BUG: Audubon Naturalist Society was not on Nov 4 scrape, please troubleshoot"
## Expected Behavior
Event ans.py should be scraped.

## Current Behavior
This organizer was listed as being scraped on Nov 4th, but there were no events collected.
https://anshome.org/events-calendar/

## Possible Solution
Please troubleshoot or let us know if we should manually pull these events. Thanks!

[2019-11-12 23:08] akaahanui opened #177 "ENH: Event dug_network.py no longer needs to be scraped"
## Expected Behavior
Since the DUG Network is an event consolidator like we are, we will stop scraping that event to prevent duplicates.

## Current Behavior
DUG is listed as an event, but we have not been seeing them on scrapes.

## Possible Solution
Please remove from scraped events list. Thanks!

[2019-11-13 00:39] Gflemin commented on #174
I can grab this one.

[2019-11-13 00:43] csmcallister commented on #176
I'm working on #107 and this should shed some light. I'll circle back.

[2019-11-13 00:43] csmcallister commented on #175
I'm working on #107 and that should shed some light. I'll circle back.

[2019-11-13 00:51] csmcallister commented on #172
@akaahanui We currently use [this url](https://events.time.ly/8ib56fp), which shows the same events as the one you listed if I'm not mistaken. Is there any reason in particular why the urls should be swapped out? Are we not capturing RCC events in the csv files?

[2019-11-13 01:07] csmcallister commented on #114
Dupe of #174, so I'm closing this as stale.

[2019-11-13 01:07] #114 closed

[2019-11-13 01:19] akaahanui commented on #172
@csmcallister When we were on the call last week, we asked why RCC was not being scraped and you mentioned that the url in the scrape was different from the one on our spreadsheet. That's why I added the issue, thinking maybe the wrong url was preventing the scrape. I checked the Nov 4 events scraped and RCC was not included. A bug maybe?

[2019-11-13 15:58] NicoleJaneway commented on #108
It looks like NOVA Parks is using eventbrite

[2019-11-13 16:04] NicoleJaneway commented on #173
It looks like Sierra Club Maryland's chapter uses eventbrite

[2019-11-13 16:11] csmcallister commented on #172
I'll look into this then.

[2019-11-13 16:12] csmcallister commented on #108
Do you want to take this one @NicoleJaneway ?

[2019-11-13 16:13] csmcallister commented on #173
Do you also want this one @NicoleJaneway ?

[2019-11-13 16:14] NicoleJaneway commented on #108
Sure 👍

[2019-11-13 16:14] NicoleJaneway commented on #173
Got this one too

[2019-11-14 19:59] NicoleJaneway opened #179 "FIX: Montgomery date field not in '%a. %B %d, %Y' format"
## Current Behavior
When running get_events.py, I got the following warning:  ValueError: time data 'November 22 - December' does not match format '%a. %B %d, %Y'.  But the scraper does run and output events to the .csv.

[2019-11-14 20:05] NicoleJaneway opened #180 "FIX: Small adjustment to "Contributing" doc"
## Possible Solution
Last line of code in # 4 of **Testing your Code** should read
```python3 -W ignore -m unittest tests/<name_of_your_scraper>_test.py```
(adds reference to tests directory)

[2019-11-15 21:20] csmcallister commented on #179
@NicoleJaneway thanks for making this issue. I've been meaning to do so for awhile, but it's an edge case.

Here's the full log message for working on it:

[code]

The date from the website isn't like the others, so the datetime parsers fail. Solution is to handle this case and include the event's url in the log message to make debugging easier.

[2019-11-15 21:21] csmcallister commented on #180
That's correct @NicoleJaneway! Do you want to add this change to #178 ?

[2019-11-17 00:05] NicoleJaneway commented on #180
Done!

[2019-11-17 00:05] #180 closed

[2019-11-17 00:13] csmcallister commented on #108
Closed by d4f6acd

[2019-11-17 00:13] #108 closed

[2019-11-17 00:13] csmcallister commented on #173
Closed by d4f6acd

[2019-11-17 00:13] #173 closed

[2019-11-17 18:48] csmcallister commented on #107
Closed by c69d6d7

[2019-11-17 18:55] csmcallister commented on #107
@akaahanui I just added support having the logs as well as a scrape report in two separate spreadsheets. Please see the attached spreadsheet, which is an example of the scrape report, and let me know what you think. The log spreadsheet is more useful for us developers since it contains the info we'd need to debug.

[scrape-report-11-17-2019.xls.zip](https://github.com/DataKind-DC/capital-nature-in

[2019-11-18 15:52] csmcallister commented on #177
done!

[2019-11-18 15:52] #177 closed

[2019-11-20 21:51] akaahanui commented on #177
@csmcallister  Thanks so much!

[2019-11-20 22:06] akaahanui commented on #107
@csmcallister HI Scott - you can ignore the silly question in my email to you about an "inbox" in GitHub. I have no idea why I didn't check the chat for the issue. D'uh Ana!

[2019-11-25 22:13] csmcallister commented on #175
Just ran the riverkeeper event scraper by itself and it appears that the Eventbrite API is back up and running 🎉

However, only one event was returned. I'll try to see if this checks out online.

[2019-11-25 22:23] csmcallister commented on #175
And it does! So we should have this event source's events in the next run.

Still need to see what's going on with the others though.

[2019-11-27 19:59] csmcallister commented on #176
After adding the logging feature and running `get_events.py`, I can confirm that we scraped the 8 November events from the [calendar page](https://anshome.org/events-calendar/). Some extra work needs to be done to make sure we also get events for the 3 next months (i.e. December, January and February).

[2019-11-27 20:04] csmcallister commented on #176
closed by ad56e2a which gets events for the current month as well as the next three months for ANS 🎉 @akaahanui This results in 15 events being found, which you can see corresponds to the number of events for Nov-Feb on their [calendar](https://anshome.org/events-calendar/).

[2019-11-27 20:04] #176 closed

[2019-11-27 22:17] akaahanui commented on #176
Fantastic work - you rock! Have a wonderful Thanksgiving!

[2019-11-28 02:12] csmcallister commented on #179
closed by d385a9a

[2019-11-28 02:12] #179 closed

[2019-11-28 02:15] csmcallister commented on #171
Their [Eventbrite page ](https://www.eventbrite.com/o/potomac-conservancy-8275588434?aff=ebriterally_article_dc)only shows one event for January 18th while https://potomac.org/events shows multiple events. Given the fact that the Eventbrite API is still not functioning properly and the company has yet to make an announcement about their long-term plans for it, I'm going to prioritize web-scraping

[2019-11-28 03:43] csmcallister commented on #171
Closed by b50e075

We're now scraping this @akaahanui !

[2019-11-28 03:43] #171 closed

[2019-12-03 01:52] csmcallister opened #188 "BUG: Some RCC events have anomalous event times"
## Expected Behavior
We scrape every event for RCC regardless of event time/date conventions.

## Current Behavior
We're failing to capture two events since they don't have times/dates like the others.

Here's the first traceback:

[code]

And the second:

[code]

## Possible Solution
Catch the error and handle it. Also update logs to provide more information for debugging.

## Steps to Reproduce

[2019-12-03 02:13] csmcallister commented on #188
Fixed by 7dcfd15

[2019-12-03 02:13] #188 closed

[2019-12-06 12:48] csmcallister commented on #175
Eventbrite recently sent out the following email:

Hello,
We’re writing to inform you that access to the Eventbrite Event Search API (GET /v3/events/search/) will be shut down at 11:59 pm PT on Thursday, December 12, 2019.
We strongly encourage you to find and remove any code that makes requests to this Event Search API from your applications in advance.
Why is this happening?

We’re removing the

[2019-12-07 05:28] jmelot commented on #168
I can do this one this weekend if you want!

[2019-12-11 17:34] khayes847 commented on #169
I can go ahead and take this one.

[2019-12-11 17:43] csmcallister commented on #169
Feel free to holler if you've got any questions! And thanks!

[2019-12-11 17:47] khayes847 commented on #169
No problem. It looks like I could make a pandas dataframe with each month,
with columns for month, day of the month, day of the week, and any events
listed on that day. Is that something like what you're looking for?

On Wed, Dec 11, 2019 at 12:43 PM Scott McAllister <notifications@github.com>
wrote:

[2019-12-11 18:35] khayes847 commented on #169
I just created a python script for this issue, and requested a merge.

[2019-12-11 22:35] akaahanui opened #191 "BUG: Check API for event sites returning incorrect event times"
## Current Behavior
The sites below are returning the wrong event times.

https://www.fona.org/events/fullmoonhikes/
Actual time: 18:30 - 21:00
Scrape times:
3 Dec events: 23:30 - 2:00 (next day)
3 Jan events: 0:00 - 2:00 (next day)

https://www.eventbrite.com/e/meadowlarks-winter-walk-of-lights-tickets-74428428433?aff=ebdssbdestsearch
Actual time: 17:30 - 22:00
Scrape time: 22:30 - 3:00 (next day

[2019-12-14 19:40] wkarney commented on #175
Reading the new API options above, it seems that there's no more **public** access to events unless you're a member of the [Eventbrite distribution partner program](https://www.eventbrite.com/l/distribution-partnerships/#form)? So it seems a little bit more than just changing the endpoint..am I reading that correctly?

[2019-12-14 21:33] csmcallister commented on #175
I read that to say that a GET to `/v3/organizations/:organization_id/events/` was a part of the public API. Their [documentation](https://www.eventbrite.com/platform/api#/introduction/about-our-api) makes it seem that way.  The issue is that this new endpoint is unstable. I've tried on their [console](https://www.eventbrite.com/platform/api#/reference/event/update/list-events-by-organization?conso

[2019-12-22 03:28] jmelot commented on #168
Finally submitted a PR (sorry, later than I'd hoped!). Let me know if there are any issues, and happy holidays!

[2020-01-10 19:10] csmcallister commented on #168
Closed by ad93425

[2020-01-10 19:10] #168 closed

[2020-01-10 19:34] csmcallister commented on #107
Closing this unless there's an issue with the report (see the example above).

[2020-01-10 19:34] #107 closed

[2020-01-10 19:55] csmcallister commented on #175
Just confirming that these issues still persist. The `17820009959` organization ID gets recognized by their API as a valid organization id, but the API doesn't return any events despite the fact that there are a bunch of organizations on their page. The other organization id (`10605256752`) isn't even recognized as a valid id by their API.

[2020-01-10 20:09] csmcallister commented on #191
It's interesting that all of these events came from the Eventbrite API and that all of the event times are off by 5 hours. Do you know if all of the events for these organizations were off by the same amount of time @akaahanui ? This might be related to #175. But with the Eventbrite API still on the fritz, I can't really do anything to figure out the root cause and fix it.  My guess is that their

[2020-01-10 20:14] csmcallister commented on #172
In the December scrape, the report showed that we scraped 29 events for this source and that there was one additional event that we didn't capture because we couldn't determine a start time for it. That error was fixed in 3c2e09d06758d98a7a8e4e634364cc7c2176080b so I'm going to close this for now.

[2020-01-10 20:14] #172 closed

[2020-01-10 22:42] csmcallister commented on #167
Just now getting around to this one @akaahanui

For the state abbreviations, is this ask a dupe of #104 ?

For the parks to exclude, this seems like a dupe of #106.

If those other issues cover what's being asked in here, let me know so I can close this issue and we can discuss in the respective issues.

[2020-01-10 22:44] #191 closed

[2020-01-10 23:31] csmcallister commented on #104
Looking back at those months, there's no consistent way to scrape the venue name from the event website when it isn't provided by their API. I can get the street address reliably, but the *free* reverse geocoding libraries don't provide the venue name when you do a look up with a street address. Luckily, all of the months since last July haven't had events where the venue name wasn't provided by t

[2020-01-11 01:51] csmcallister commented on #170
@akaahanui

There are a few issues with this event source.

1. Many of the events lack an event website, which is a required field. And when an event website is present, it's a link to the Virginia Native Plant Society (vnps), which is an event source we are already scraping.

2. The calendar loads dynamically, so scraping it will be tricky (but probably not impossible).

3. Some events lack a des

[2020-01-16 08:25] akaahanui opened #194 "ENH: January Scrape"
@csmcallister

Happy New Year! Any chance you can do a scrape today for February through April? Thanks for resolving those recent tickets!

Aloha,
Ana

[2020-01-16 17:10] csmcallister commented on #194
Happy new year!! 🎉

I can run it this evening. In the meantime, could you please respond to some of the issues I recently tagged you in?

[2020-01-21 23:46] csmcallister commented on #194
done!

[2020-01-21 23:46] #194 closed

[2020-01-22 00:12] csmcallister opened #195 "BUG: Some ANS Events are failing"
## Expected Behavior
When events within an event source don't conform to the schema, the logged message is informative enough to let us know what broke the schema and how we can fix it.

## Current Behavior
This gets written to the logs:
[code]

## Possible Solution
1. Improve the logging
2. Rerun the event source
3. Debug!

## Context
This doesn't completely break the ANS event source, but it did

[2020-01-22 00:14] csmcallister commented on #167
Closing this @akaahanui since I believe the issues within are dupes like I mentioned above.

[2020-01-22 00:14] #167 closed

[2020-01-22 00:16] csmcallister commented on #106
@akaahanui Could you please identify the park codes, if any, that you would never want us to scrape. This would be any easy fix if I just knew which park codes to exclude.

[2020-01-22 00:22] csmcallister commented on #104
@akaahanui To help me prioritize the most important event sources that need descriptions that start with the state abbreviation, could you prioritize the event sources?

[2020-01-22 00:51] MDshuey commented on #123
If the new website is up and running here's how to get the agenda *from* the current day.
Today for example:

https://earthconservationcorps.org/events/list/?tribe-bar-date=2020-01-21

Unfortunately no events have been listed yet for the year, but we can practice scraping by using an old date in the HTML.

[2020-01-22 01:04] csmcallister commented on #170
Closing!

[2020-01-22 01:04] #170 closed

[2020-01-22 01:16] vabigdatamover commented on #120
@csmcallister , add me to the Little Falls Watershed Alliance

[2020-01-23 01:53] csmcallister commented on #169
@akaahanui We are now scraping this event source thanks to @khayes847 🎉

[2020-01-23 01:53] #169 closed

[2020-01-23 02:01] csmcallister commented on #174
Hi @Gflemin . Any updates on this one? If not, may I unassign you in order to free it up for another contributor?

[2020-01-23 02:06] csmcallister commented on #120
This looks like one where you'll need to scrape each event's individual page. The [required data](https://github.com/DataKind-DC/capital-nature-ingest/blob/master/event_schema.md) seems present and consistently presented though. Each event page actually has a link to a calendar file, which should be easy to extract everything you'd need using either [ics](https://pypi.org/project/ics/) or [icalend

[2020-01-23 02:07] csmcallister commented on #123
Thanks for looking into this one @MDshuey and it was nice meeting you last night. Would you want me to assign this one to you so you can work on it??

[2020-01-23 02:38] Gflemin commented on #174
Hi Scott,

Yes, unassigning me is fine! I'm sorry I didn't update you on that.

Best,
Grant

On Wed, Jan 22, 2020, 9:01 PM Scott McAllister <notifications@github.com>
wrote:

[2020-01-23 03:39] chungkim271 commented on #105
Can you guys assign this to me?

[2020-01-23 06:02] MDshuey commented on #123
@csmcallister Sure thing Scott

[2020-01-23 12:26] csmcallister commented on #105
Sure thing @chungkim271 👏

[2020-01-24 22:42] csmcallister opened #196 "ENH: New event source: Potomac Appalachian Trail Club"
## Event Source Calendar
https://www.patc.net/PATC/Calendar/PATC/Custom/Calendar.aspx?hkey=9fc06544-1c54-4a47-9efc-8fcd2420a646

## Can we scrape it?

## Context
@akaahanui This one wasn't on your list, but it looks like a good match for Capital Nature. What do you think?

## Are we scraping it?

[2020-01-27 17:54] chungkim271 commented on #105
@csmcallister, question: it seems like there isn't a sure procedure to grab the 'category', 'cost', and 'description' fields because these aren't in specific locations in html or have specific classes, if mentioned at all on the event page. For example, an event page might say it's a free event but others don't mention costs at all. Is it better for my functions to make the best guess with the eve

[2020-01-27 18:58] csmcallister commented on #105
Hi @chungkim271. These are common issues, so thanks for asking!

Making a best guess is good imo.

For event descriptions, I've found success selecting the longest <p> element to get the event description.

As for the cost, I've searched all the text within an area for the word "free" and also used a regular expression to find currency values. If multiple currency values are found, I'll use the la

[2020-01-27 22:36] chungkim271 commented on #105
Thanks, @csmcallister. I'll see what I can do!

[2020-01-27 23:26] csmcallister commented on #175
It doesn't look like Eventbrite is going to fix this, so we'll need to scrape the individual organizer pages on eventbrite.

[2020-01-28 00:53] csmcallister commented on #195
Issue was a recurring event whose different locations weren't in the schema.org API response. Solution was to web-scrape those locations. Closed by 5dd6839

[2020-01-28 00:53] #195 closed

[2020-01-28 01:16] csmcallister commented on #175
@Frankie-Figz would you want me to assign this one to you?

[2020-02-08 17:15] Frankie-Figz commented on #196
@minh5 Can we scrape it?

[2020-02-08 17:18] Frankie-Figz commented on #174
@minh5 Maybe take a look at this as well if the potomac calendar scrape proves too tedious?

[2020-02-08 19:19] Frankie-Figz commented on #174
@csmcallister I do not think that this could be scraped so easily given the non-uniform nature of how the are uploading cards to https://www.usna.usda.gov/visit/calendar-of-events.

@minh5 is going to take a more detailed look at it and share his valuation

[2020-02-08 19:20] akaahanui commented on #196
@minh5 Looks like a promising one. One question - is there a way to filter events so that we don't get the events from PA and further out from DC? (about 80 miles)  For example, we've been excluding Harper's Ferry, Shenandoah Valley and Richmond events from the National Park Service scrapes.

If we identified the parks/trails close enough, listed here:
https://www.patc.net/PATC/WHO_WE_ARE/PATC/Who

[2020-02-08 19:38] akaahanui commented on #106
@csmcallister Sorry for the delay! We are making a list. I was still checking the distances on some of them. I should be able to send in the next day or so.

[2020-02-08 20:05] Frankie-Figz opened #201 "Proof of Concept of Cloud Execution"
@akaahanui As we approach a point where we are scraping nearly all the event sources that you're interested in with relatively few errors, we'd like to starting think about **how we can automate the scrapers, including the email that gets sent to Capital Nature with all of the results and the creation of issues here in the repository to alert us to errors**.

Before we really dive into this, we ne

[2020-02-08 20:09] csmcallister commented on #201
@tuffacton mentioning you so I can assign you 👏

[2020-02-08 20:44] akaahanui commented on #106
@csmcallister I audited the NPS list and finished looking up distances and drives times to ones I was not familiar with. Please exclude the ones in yellow and scrape the white ones. The oranges ones cover alot of states and I wanted to get your thoughts. We could keep them and manually delete the far away events when we curate or just exclude those parks. Thoughts? Perhaps we try keeping them and

[2020-02-08 20:57] csmcallister commented on #174
Yeah, it looks like you'd have to visit each event page to get what you need and then hope that they are consistent. We've done it for other sources in the past, so one would just need to be mindful of where their scraping could break and to catch and log those errors.

[2020-02-08 21:00] csmcallister commented on #106
@akaahanui Let's keep the orange and white for now, and see how much manual curation will be needed to exclude the very distant events from the orange parks. If it's too much work, then we can come back and exclude the orange ones as well.

[2020-02-09 14:52] csmcallister commented on #106
96e3214 filters out those yellow parks. We can re-open and revisit this issue in the future if needed.

[2020-02-09 14:52] #106 closed

[2020-02-09 20:08] tuffacton commented on #201
Got it, forked a copy and taking it on. Expect a pull request I would say sometime this week.

[2020-02-09 21:38] Frankie-Figz commented on #105
Hello @chungkim271 maybe we can collaborate on this issue?

[2020-02-10 02:12] csmcallister opened #205 "PERF: Make get_events.py faster"
## Expected Behavior
`get_events.py` runs faster.

## Current Behavior
So slow.

## Possible Solution
Use `asyncio` for single-threaded concurrency with the event loop or use `multithreading`. Tasks are i/o bound, so multiprocessing is likely not optimal. Plus the GIL.

## Context
Speeding things up will result in faster end-to-end testing.

[2020-02-10 12:41] csmcallister commented on #175
Finally fixed @akaahanui ! Closed by d64cb2d

[2020-02-10 12:41] #175 closed

[2020-02-10 12:49] csmcallister commented on #205
Closed by a1122d0, which gives about about an 80% speed improvement.

[2020-02-10 12:49] #205 closed

[2020-02-11 04:10] tuffacton commented on #201
Addressed in #208
IMO, potentially this should be forked to its own separate repo like `capital-nature-deploy` for deployment options on various cloud platforms. Definitely a highly available/cost-efficient/fault-tolerant architecture here but needs to be hand-reproduced.

[2020-02-11 20:59] csmcallister commented on #201
Thanks for the quick turnaround on this @tuffacton!

Could you say more about what a `capital-nature-deploy` repo would look like and how it would relate back to this repo? My main concern is for CI and CD to be tightly and simply integrated as bug fixes and/or new event sources are merged to master here.

By hand-reproduced, do you mean going into the AWS console to set it up? If so, that's fine

[2020-02-12 18:25] tuffacton commented on #201
It could just as easily live in the same code-base, maybe we can make one-click deploy models for all the major cloud providers like Digital Ocean, AWS, etc to extend it. A +1 for the separate repo route is to reduce complexity for this repo and just consider its focus as the main scraper code-base.

That being said, this is a POC so I suppose I call for closing this now and after we have a more t

[2020-02-12 20:53] akaahanui commented on #201
@Frankie-Figz @csmcallister @tuffacton  @rachelauryn

HI All - Thank you for the suggestion. We sincerely appreciate the time and effort put into our project. Once some of the details are fleshed out, would it make sense for a few of us to hop on a call to discuss?

Please let me know.

With Aloha,
Ana

[2020-02-12 22:59] csmcallister commented on #201
Once get something working and have more info, we can hop on a call. I’ll keep you posted @akaahanui !

[2020-02-13 02:03] csmcallister commented on #201
closed by 54526d5

[2020-02-13 02:03] #201 closed

[2020-02-15 00:50] csmcallister opened #209 "BUG: Error parsing date for Eleventh Street"
## Expected Behavior
We parse all dates. But obviously we'll inevitably encounter a new datetime format and need to adapt the scraper to handle it. When this happens, we should try to log the individual event website along with the date that we couldn't parse.

## Current Behavior
Date that threw the error is logged. Should also log the event website.

## Possible Solution
update date parser to ha

[2020-02-15 01:30] csmcallister opened #210 "BUG: error parsing date and time in Montgomery event source"
## Expected Behavior
We correctly parse dates, even simple edge cases.

## Current Behavior
Failing on new, never-before-seen date formats.

## Steps to Reproduce (for bugs)
Here are the two errors:
[code]

## Context
Not urgent as this doesn't break the entire event source.

[2020-02-15 15:38] csmcallister opened #211 "ENH: MVP with AWS Lambda"
## Expected Behavior
Scrapers deployed on AWS Lambda with S3 for storage.

## Acceptance Criteria
- [x] Use infrastructure-as-a-service (e.g. CDK)
- [x] Lambda is scheduled to run twice a month
- [x] Lambda must put to S3:
    - [x] the scrape report
    - [x] the log report
    - [x] the three csvs needed by capital nature (i.e. events, organizers, and the venues)
- [x] Method to test lambda pack

[2020-02-16 19:29] csmcallister commented on #211
Closed by #212

[2020-02-16 19:29] #211 closed

[2020-02-16 19:47] csmcallister opened #213 "ENH: Productionize AWS Lambda Workflow"
## Expected Behavior

Now that we can deploy the scrapers to AWS Lambda, we can develop a fully automated solution by adding the following components:

 - [ ] A *lambda function* that triggers on S3 PUT Object events to send pre-signed urls of the s3 object to the capital nature stakeholders. We could use SNS or maybe some Python smtp library for the email service.
 - [ ] Another *lambda function*

[2020-02-18 21:58] Frankie-Figz commented on #104
@csmcallister @akaahanui For all events that are registered in eventbrite I made sure  to add the state as requested in this issue.

[2020-02-20 00:01] madhuqmar opened #215 "ENH: New Event Source: Smithsonian National Museum of Natural History"
## Event Source Calendar
https://naturalhistory.si.edu/events

## Context
This seems relatively simple to scrape. However, I'd like to know if this will really add value to the project.

[2020-02-20 01:50] csmcallister commented on #215
Hi @madhuqmar! Thanks for looking into that source! Unfortunately, I don’t think those events really qualify as “outdoorsy”. I will, however, defer to @akaahanui for a final say.

In the meantime, feel free to reach out to anyone assigned to one of the other new event source issues to check if that person is still working on it!

[2020-02-20 03:11] csmcallister commented on #210
Closed by 7dc30d5

[2020-02-20 03:11] #210 closed

[2020-02-20 03:12] csmcallister commented on #120
Closed by f056159 thanks to @Frankie-Figz

[2020-02-20 03:12] #120 closed

[2020-02-21 02:05] #209 closed

[2020-02-23 17:00] akaahanui commented on #104
@csmcallister Sorry for the delay!

Looking at Britta's list, I'd say these are priorities:

    NPS (National Park Service)
    Audubon Naturalist Society
    Virginia Native Plant Society
    Casey Trees
 Sierra Club (these tend to be multiple states)

Less important:
    Friends of Kenilworth Gardens
   The Nature Conservancy (Virginia)

Hope this helps!

Thanks,
Ana

[2020-02-23 17:02] akaahanui commented on #215
HI @madhuqmar! Thanks for suggesting. Just to clarify, we do promote indoor educational and cultural events as long as they have to do with nature, so book lectures, citizen science activities would be fair game. I did look at their upcoming events and I don't see enough things that would warrant a scrape. Our manual team can continue on those.

We appreciate your support!
Ana

[2020-02-23 17:04] akaahanui opened #221 "ENH: March 2020 Scrape"
@csmcallister

HI Scott - May we pull a scrape for March-end of May? Hope you are having a great weekend!

Thanks,
Ana

[2020-02-25 18:23] csmcallister commented on #221
I can get this to you this evening @akaahanui

[2020-02-25 23:29] csmcallister commented on #221
Just sent the email, so closing!

[2020-02-25 23:29] #221 closed

[2020-02-25 23:40] #215 closed

[2020-02-25 23:54] csmcallister opened #222 "BUG: LFWA Critical Error"
## Expected Behavior
Scraper works and, if it doesn't errors for individual events are caught and logged in `lfwa.py`.

## Current Behavior
traceback:

[code]

## Possible Solution
Use `r.status_code` instead of `r.status`.

## Context
Easy fix for a big :bug:

[2020-02-26 00:13] csmcallister opened #223 "BUG: Schema issue with Casey Trees"
## Expected Behavior
Events fit the schema.

## Current Behavior
traceback:

[code]

## Possible Solution
Replace `events_data['Event Category'] = category_classes.get(_site)` with:
[code]

## Context
This is critical as every issue is affected.

[2020-02-26 00:55] #223 closed

[2020-02-26 01:00] csmcallister commented on #105
closed by 7d65ad8

[2020-02-26 01:00] #105 closed

[2020-02-26 01:18] csmcallister commented on #213
@tuffacton I tried to outline a serverless solution here. I'd love to hear your thoughts/comments on the approach. Particurlalrly any gotchas with using SNS and pre-signed s3 urls, as I haven't used those before. Also curious about your experience with AWS Serverless Application Model (SAM), because using that might be better than using the CDK in our case? Thanks! 👏

[2020-02-26 15:13] tuffacton commented on #213
@csmcallister I think I grok. When I first approached the scraper solution that you all have built I thought Lambda was the natural progression, but then I ran it and saw that on a t3.nano it took up a relatively long time, something like >5 mins. Lambda has far less compute capability and a timeout of 6 mins and is really designed for doing things that are super small and fast like request/respon

[2020-02-28 14:37] csmcallister commented on #213
@tuffacton Lambdas timeout now at [15 minutes](https://aws.amazon.com/about-aws/whats-new/2018/10/aws-lambda-supports-functions-that-can-run-up-to-15-minutes/), but I've gotten execution time down to ~3 minutes locally and in lambda with multi-threading and a whopping 1GB memory (cloudwatch logs show we could do with way less memory, but I just set it to something nice and round for testing).

Ide

[2020-03-01 17:53] madhuqmar commented on #174
Hi @minh5 and @csmcallister, I am able to scrape the events from this website- if no one is working on this currently, can you assign me this one so I can make it production-ready? Thanks!

[2020-03-01 18:29] csmcallister commented on #174
Thanks @madhuqmar! Feel free to open a PR and reference this issue. I should have a chance to review this evening.

[2020-03-01 23:58] madhuqmar commented on #174
Thanks for assigning @csmcallister! I'm testing the scraper now, when it passes all tests will open the PR.

[2020-03-04 23:26] csmcallister commented on #123
@akaahanui and @MDshuey Just noticed that this event source never has events on its events page. So I'm going to close this until there are events. We can re-open if/when that happens.

[2020-03-04 23:26] #123 closed

[2020-03-04 23:50] csmcallister opened #227 "ENH: New Event Source: DC REI"
Lots of interesting events here: https://www.rei.com/events/p/us-dc-washington

And they look scrape-able!

[2020-03-04 23:51] csmcallister commented on #227
All yours @chungkim271

[2020-03-04 23:52] vabigdatamover opened #228 "ENH: New Event Source: Capital Hiking Club"
Check to see if Capital Hiking Club schedule is able to be scraped?

Event Source Calendar

 **https://www.capitalhikingclub.org/hikes-schedule**

Can we scrape it?
Context: This is a DC area hiking club with a hiking schedule that is published weeks or months in advance.

Are we scraping it?

[2020-03-04 23:58] vabigdatamover opened #229 "ENH: New Event Source: Northern Virginia Hiking Club"
**Event Source Calendar**
https://www.meetup.com/NVHC-Hiking/events/
https://www.meetup.com/NVHC-Hiking/events/calendar/

General NVHC website, no calendar: https://www.nvhc.com/sched.html

**Can we scrape it?**
Context: This is a Northern Virginia based hiking club that has scheduled hikes posted weeks or months in advance. Membership is $5 per year, but hikes are free

**Are we scraping it?**

[2020-03-05 00:15] vabigdatamover commented on #229
Here is documentation on utilizing Meetup API, this may be an easy or hard way to scrape events. But if someone figures it out, we can use this on numerous local outdoor events.

https://www.meetup.com/meetup_api/

https://www.datacamp.com/community/tutorials/meetup-api-data-json

[2020-03-05 01:13] vabigdatamover commented on #228
Scraping the Capital Hiking Club URL does not provide a cost, this is located in a linked Meetup page.

Hike Name:  **"_1idsK"**
<span class="_1idsK" data-hook="ev-list-item-title">Hike: Baltimore City Walk, MD</span>
Date & Time:  **"_5MWDj"**
<div class="_5MWDj" data-hook="date"><span class="">Mar 07, 8:00 AM – 6:30 PM</span></div>
Location: **"_297RP"**
<div class="_297RP" data-hook="location">

[2020-03-05 01:19] vabigdatamover commented on #228
The Capital Hiking Club schedule URL contains all the required text and could be scraped
`<script type="text/javascript">`

[2020-03-05 01:38] vabigdatamover commented on #228
Capital Hiking Club Meetup page includes the location, date& time, and cost.

Date & Time:
`<div class="eventTimeDisplay text--labelSecondary text--small wrap--singleLine--truncate margin--halfBottom color-viridian"><time class="" datetime="1583543700000"><span class="eventTimeDisplay-startDate"><span>Fri, Mar 6</span>, <span class="eventTimeDisplay-startDate"><span>8:15 PM</span></span></span></t

[2020-03-09 17:39] Frankie-Figz commented on #222
I think this should be fixed with the commits of the branch "lfwa-fix"

[2020-03-14 20:53] csmcallister commented on #222
Fixed by cf21912

[2020-03-14 20:53] #222 closed

[2020-03-28 13:24] Frankie-Figz opened #234 "ENH: Virginia.org outdoor events"
**Virginia.org outdoor events**

## Can we scrape it?

https://www.virginia.org/directory/Events/stateparks/?city=STATEWIDE&categories=221

@akaahanui Would this be a valid event source provider to add to the scraping?

[2020-03-28 13:28] Frankie-Figz opened #235 "ENH: DCR Virginia Parks List Events"
**DCR Virginia Parks List Events**

## Can we scrape it?
https://www.dcr.virginia.gov/state-parks/park-events-list

@akaahanui Would this be a valid event source provider to add to capital nature?

[2020-03-28 13:33] Frankie-Figz opened #236 "ENH: Vatech Forest Events"
## VATECH Forest Events

## Can we scrape it?

https://forestupdate.frec.vt.edu/eventscalendar.html

@akaahanui Is this a valid event source provider?

[2020-03-28 14:56] Frankie-Figz opened #237 "ENH: Friends of James River"
## James River
 Some history on the James River: [link](https://dukeuniv.maps.arcgis.com/apps/Cascade/index.html?appid=db5f28a5d5524b00b63f25ffef67ab09)

## Can we scrape it?

https://www.jamesriverpark.org/calendar/

@akaahanui Is this a valid event source to add to the calender?

[2020-03-28 15:39] Frankie-Figz commented on #234
Fernando Aguilar volunteered to take on this issue

[2020-04-02 02:10] Frankie-Figz commented on #174
@csmcallister Hi Scott, I think the correct url for this event source is:

- https://www.usna.usda.gov/visit/calendar-of-events/

Compate the above with the below. At the beginning of this issue it is labelled as: https://www.usna.usda.gov/visit/events-calendar/

[2020-04-02 17:21] csmcallister commented on #174
I think you're right. I'll update the link up top.

[2020-04-28 16:42] vabigdatamover commented on #229
Meetup require users subscribe to the Pro version in order to perform API calls, which cost $30-35 per month.  This page will require traditional scraping methods or access via calendar.

[2020-04-28 16:42] vabigdatamover commented on #228
Meetup require users subscribe to the Pro version in order to perform API calls, which cost $30-35 per month.  This page will require traditional scraping methods or access via calendar.

[2020-04-29 00:03] csmcallister commented on #229
Do you have a link to that calendar @vabigdatamover and would you be willing to see if it is scrapable?

[2020-04-29 00:05] csmcallister commented on #228
Looks like you already got started to see if this event calendar is scrapable without recourse to the Meetup API @vabigdatamover. Do you want to finish that?

[2020-04-29 00:26] vabigdatamover commented on #229
Event Source Calendar
https://www.meetup.com/NVHC-Hiking/events/
https://www.meetup.com/NVHC-Hiking/events/calendar/
General NVHC website, no calendar: https://www.nvhc.com/sched.html

I can give them a try and work with Francisco if I run into any problems

[2020-04-29 00:33] vabigdatamover commented on #228
The Capital Hiking Club URL did not include any associated hiking cost, which were located on the Meetup page.  It was likely possible to scrape the websites with associated costs, however they have no hikes scheduled due to the Coronavirus, limiting the ability to scrape. This probably needs to be deferred until physical and social distancing ends.

[2020-05-09 20:28] vabigdatamover commented on #228
All current and future hikes have been postponed until further notice

[2020-05-09 20:29] vabigdatamover commented on #229
All current and future hikes have been postponed until further notice

[2020-08-28 16:31] csmcallister commented on #237
Issue cleaning...closing for now.

[2020-08-28 16:31] #237 closed

[2020-08-28 16:32] csmcallister commented on #236
Issue cleaning...closing for now.

[2020-08-28 16:32] #236 closed

[2020-08-28 16:32] csmcallister commented on #235
Issue cleaning...closing for now.

[2020-08-28 16:32] #235 closed

[2020-08-28 16:32] csmcallister commented on #234
Issue cleaning...closing for now.

[2020-08-28 16:32] #234 closed

[2020-08-28 16:32] csmcallister commented on #229
Issue cleaning...closing for now.

[2020-08-28 16:32] #229 closed

[2020-08-28 16:32] csmcallister commented on #228
Issue cleaning...closing for now.

[2020-08-28 16:32] #228 closed

[2020-08-28 16:32] csmcallister commented on #227
Issue cleaning...closing for now.

[2020-08-28 16:32] #227 closed

[2020-08-28 16:33] csmcallister commented on #196
Issue cleaning...closing for now.

[2020-08-28 16:33] #196 closed

[2020-08-28 16:33] csmcallister commented on #174
Issue cleaning...closing for now.

[2020-08-28 16:33] #174 closed

[2020-08-28 16:33] csmcallister commented on #104
Issue cleaning...closing for now.

[2020-08-28 16:33] #104 closed

[2020-08-29 18:49] csmcallister opened #242 "BUG: Use NOVA Parks's Event Calendar"
## Expected Behavior
The NOVA parks scraper should scrape their event calendar: https://www.novaparks.com/events/event-calendar

## Current Behavior
Eventbrite is used, which has a fraction of their events.
Prices not being pulled. If free, can a zero be populated in the price field?

## Possible Solution
Scrape the event calendar.

## Context
This is an important event source for CN, so prioritiz

[2020-09-08 14:07] akaahanui opened #245 "BUG: Use Fairfax County Park Authority's event calendar to scrape events"
**Expected Behavior**
The Fairfax Parks scraper should scrape their event calendar: https://www.fairfaxcounty.gov/parks/park-events-calendar

**Current Behavior**
Fraction of their events being pulled with existing scraper. Some parks with many programs like Ellanor C. Lawrence are not being pulled.

**Possible Solution**
Scrape the event calendar.

**Context**
This is an important event source fo

[2020-09-08 14:11] akaahanui opened #246 "BUG: Audubon Naturalist Society scraper not pulling all events"
**Expected Behavior**
The Audubon Naturalist Society scraper not pulling all events. Please scrape their event calendar: https://anshome.org/events-calendar/

**Current Behavior**
Fraction of their events being pulled with existing scraper. We are current through September, so this would be a fix for Oct moving forward.

**Possible Solution**
Scrape the event calendar.

**Context**
This is an impo

[2020-09-08 14:17] akaahanui opened #247 "BUG: Rock Creek Conservancy returning errors"
Expected Behavior
Would like to update current scrape from the Rock Creek Conservancy (RCC) event calendar: https://www.rockcreekconservancy.org/what-we-do/upcoming-events

Current Behavior
The RCC scraper is pulling events but with errors:
1) Start and end times are the same
2) Descriptions cut off

Possible Solution
Adjust coding for pulling start and end times
Adjust coding so full description

[2020-09-08 14:32] akaahanui opened #248 "BUG: Montgomery Parks events returning errors"
**Expected Behavior**
The Montgomery Parks scraper should scrape their event calendar: https://www.montgomeryparks.org/calendar/?v=0&cat=1746. Events have been pulled but with errors.

**Current Behavior**
Events being pulled but with errors:
1) Prices not populating. For those that are free, can a zero be populated in the price field?
2) Some event descriptions cut off or incomplete.

**Possible

[2020-09-08 14:35] akaahanui opened #249 "BUG: Adjust pull dates for all scrapers"
**Expected Behavior**
Don't scrape events more than 3 months ahead. Don't backtrack for previous month.

**Current Behavior**
Events being pulled but with errors:

Possible Solution
Adjust pull dates across the board for all scrapers.

Context
This is important for the efficiency of CN's event curation work flow.

[2020-09-08 14:49] akaahanui opened #250 "BUG: US Botanic Gardens operational but with errors"
**Expected Behavior**
Please address operational errors for US Botanic Garden event calendar: https://www.usbg.gov/programs

**Current Behavior**
The USBG scraper is pulling events but with errors. We are not sure what the errors are.

[2020-09-08 14:52] akaahanui opened #251 "BUG: Please fix broken Loudoun Wildlife Conservancy scraper"
**Expected Behavior**
Please address broken scraper at event calendar: https://loudounwildlife.org/events/

**Current Behavior**
The LWS scraper is broken.

[2020-09-08 14:57] akaahanui opened #252 "BUG: Please fix broken City Blossoms scraper"
**Expected Behavior**
Please address broken scraper at event calendar:https://cityblossoms.org/new-events

**Current Behavior**
The CB scraper is broken.

[2020-09-08 14:58] akaahanui opened #253 "BUG: Please fix broken Anacostia Riverkeeper scraper"
Expected Behavior
Please address broken scraper at event calendar: https://www.anacostiariverkeeper.org/events/

Current Behavior
The AR scraper is broken.

[2020-09-08 15:00] akaahanui opened #254 "BUG: Please fix the broken Building Bridges Across the River scraper"
**Expected Behavior**
Please address broken scraper at event calendar: https://bbardc.org/events/

**Current Behavior**
The Building Bridges Across the River scraper is broken.

[2020-09-08 22:20] #242 closed

[2020-09-08 22:37] csmcallister commented on #245
@akaahanui We're currently using https://www.fairfaxcounty.gov/parks/park-events-calendar to scrape events for this event source, but it appears their calendar now paginates their events, limiting users (and our scraper!) to the first 20 events. However, it appears I can use urls constructed like `https://www.fairfaxcounty.gov/parks/park-events-calendar?field_locationref_target_id=All&field_start_

[2020-09-09 01:28] #245 closed

[2020-09-09 01:45] csmcallister commented on #246
This event scraper will automatically attempt to go out 3 months from the current month to get events (e.g. if today is September, it will try to scrape October, November and December). The issue with the missing events is that they don't have clearly listed venues, which is a required field. The scrapers automatically kick out events missing required fields in order to prevent problems when y'all

[2020-09-10 02:59] akaahanui commented on #246
Thanks Scott! I like your suggestion. I have forwarded to Stella and I'll
get back to you tomorrow.

With Aloha,
Ana [image: ]

Capital Nature <http://www.capitalnature.org/>
Follow us on Facebook <https://www.facebook.com/capitalnaturedc/>
Submit an event
<https://docs.google.com/forms/d/e/1FAIpQLSfeTlhA7VbpGqVcIEeujEArEbF7LNyyQ0TkF5dmjA126TbCOQ/viewform>
for
our calendar!

On Tue, Sep 8, 2020 a

[2020-09-10 02:59] akaahanui commented on #245
Fantastic news!

With Aloha,
Ana [image: ]

Capital Nature <http://www.capitalnature.org/>
Follow us on Facebook <https://www.facebook.com/capitalnaturedc/>
Submit an event
<https://docs.google.com/forms/d/e/1FAIpQLSfeTlhA7VbpGqVcIEeujEArEbF7LNyyQ0TkF5dmjA126TbCOQ/viewform>
for
our calendar!

On Tue, Sep 8, 2020 at 9:28 PM Scott McAllister <notifications@github.com>
wrote:

[2020-09-15 22:53] csmcallister commented on #246
@akaahanui any word from Stella?

[2020-09-18 17:34] akaahanui commented on #246
@csmcallister HI Scott - I haven't heard, so let's proceed as you suggested. Thanks!

[2020-09-18 21:21] #246 closed

[2020-09-30 02:09] csmcallister commented on #247
@akaahanui

I checked the logs for this one in yesterday's scrape and there was only one warning, which was for an event that didn't have a venue listed, which is a required field. As a result, we skip that event.

As for the url you provided above, we've been using `https://events.time.ly/8ib56fp`, which seems to have the same events listed as the url you provided.

If you'd like, I can suppress

[2020-09-30 02:20] #249 closed

[2020-09-30 02:31] csmcallister commented on #248
@akaahanui Could you provide a link to one of the events where the description is cut off? I re-ran the scraper but cannot find an instance of this.

As for the event cost, I fixed that issue.

[2020-09-30 02:38] csmcallister commented on #250
@akaahanui The errors in this weren't really errors. I was logging instances where there was no event category. So this is fixed in b394999

[2020-09-30 02:43] #250 closed

[2020-10-10 23:04] akaahanui commented on #248
@csmcallister Hi Scott - Thanks for fixing the cost issue! After further review, I can't find a truncated description, so I must have confused them with another organizer. Sorry for the false alarm. Thanks!

[2020-10-10 23:04] #248 closed

[2020-10-10 23:05] akaahanui commented on #247
@csmcallister HI Scott - Yes, please suppress the missing venues as you suggest. With all the virtual events happening, I'm wondering if we should make that adjustment for all scrapes? Thanks!

[2020-10-10 23:10] akaahanui opened #259 "Pull Request - Montgomery Parks"
We noticed that October was not pulled in the last scrape and there are 65+ events. Can you please pull Oct-Dec? November was scraped but I wouldn't be surprised if some have been added. Thanks!

[2020-10-10 23:12] akaahanui opened #260 "Pull request: Audubon Naturalist Society"
We don't think they had their full Oct line-up posted when we did the last scrape. Stella and I are presenting on the 27th!
Please pull Oct-Dec.

https://anshome.org/events-calendar/

Thanks!

[2020-10-11 21:15] #247 closed

[2020-10-14 00:43] csmcallister commented on #259
@akaahanui if the latest scrape results I sent you covered this, could you close the issue?

[2020-10-14 00:43] csmcallister commented on #260
@akaahanui if the latest scrape results I sent you covered this, could you close the issue?

[2020-10-14 21:57] #213 closed

[2020-10-14 21:58] csmcallister opened #264 "ENH: AWS Design and Deploy"
Automate the scrape and report delivery process on AWS, handing off ownership to Capital Nature.

## Acceptance Criteria

- [ ] Use infrastructure-as-a-service (e.g. CDK, SAM, Terraform, etc) with CircleCI
- [ ] Process is scheduled to run once a month
- [ ] Serverless or EC2?
- [ ] Email sent to Capital Nature with reports (s3 pre-signed urls)
- [ ]  Documentation added into `/aws/ReadMe.md`, inc

[2020-10-15 14:19] csmcallister opened #265 "BUG: Fix TNC Scraper"
The TNC scraper has a few critical errors.

## Expected Behavior
It works!

## Current Behavior
Here's the error from the logs:

[code]

## Steps to Reproduce (for bugs)
Run:

[code]

And then check the log file for this event source.

[2020-10-15 14:20] csmcallister commented on #265
this is all yours @Frankie-Figz

[2020-10-18 00:46] csmcallister commented on #251
fixed by 01378fc

[2020-10-18 00:46] #251 closed

[2020-10-18 01:32] #252 closed

[2020-10-18 01:37] csmcallister commented on #253
@akaahanui this one is broken since there aren't any events on their eventbrite page: https://www.eventbrite.com/o/anacostia-riverkeeper-10605256752

I fixed the code so that the code doesn't raise a false-positive error when there aren't any events.

[2020-10-18 01:53] #253 closed

[2020-10-18 02:10] csmcallister commented on #254
@akaahanui for this one, most of the events on the site were missing the venue name, but it is obviously `11th Street Bridge Park`, so I've hardcoded that to prevent the errors.

[2020-10-23 00:56] #254 closed

[2020-10-23 01:05] #264 closed

[2020-10-23 02:15] akaahanui commented on #254
Thanks @csmcallister !

[2020-11-21 12:58] #265 closed

[2020-11-21 13:15] #260 closed